include README.md
include LICENSE
include CHANGELOG.md
include pyproject.toml
include setup.py
recursive-include async_cdek_api *.py
recursive-include docs *.md
exclude .DS_Store
exclude .gitignore
exclude .github/*
exclude tests/*
exclude *.pyc
exclude __pycache__/*
global-exclude *.pyc
global-exclude __pycache__

